body {
  background-color: #ffc4c4;
}

#blog-it {
  color: #850e35;
}

#blog {
  color: #fff5e4;
}

button {
  width: 90%;
}

#blogI {
  color: #850e35;
  background-color: rgb(237, 213, 213);
}

h1 {
  color: #850e35;
}

a {
  color: black;
  text-decoration: none;
}

.card-body a {
  color: black;
  text-decoration: none;
}
