<% layout('layouts/boilerplate')%>

<div class="mt-5 container" style="width: 22rem">
  <h1 class="text-center">Sign In</h1>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="name@example.com"
    />
    <label for="password" class="form-label">Email address</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="******"
    />
    <a href="" class="text-center mt-3 btn btn-dark">Log In</a>
  </div>
</div>
